
.Links{
    padding-top:4%;
    background-color:#e7ecf7;
    height:100vh;
    width:20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: start;
    padding-left:1%;
    a{
        text-decoration: none;
    }
    a:focus{
        border-left:4px solid #DF2465;
        padding:5px;
    }

}


@media screen and (max-width:767px) {
    .Links{

        a{
            font-size:13px;

        }
    }  
}

